<p class="text-center lead">Hi {{currentUser.username}}  ( <a [routerLink]="['/profil']">Profil</a> | <a [routerLink]="['/login']">Logout</a> )</p>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn btn-outline-success my-2 my-sm-0" [routerLink]="['/createTopic']" type="submit">Create new topic</button>
      </li>
    </ul>
    <div class="my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" [(ngModel)]='listFilter' placeholder="Search" aria-label="Search">
    </div>
  </div>
</nav>


<div class="table-responsive">
  <table class="table" *ngIf='topics && topics.length'>
    <thead>
      <tr>
        <th>Name</th>
        <th>Number of Answer</th>
        <th>Created by</th>
        <th>Created at</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-content" *ngFor='let topic of filteredTopic'>
        <td><a [routerLink]="['/topic', topic.topicName]">{{topic.topicName}}</a></td>
        <td>{{topic.messageList.length}}</td>
        <td>{{topic.createdBy}}</td>
        <td>{{topic.createdDate | date:"MM/dd/yyyy 'at' h:mma"}}</td>
      </tr>
    </tbody>
  </table>
</div>
